.sidebar {
    width: 220px;
    transition: all 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
    padding-bottom: 6rem;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    border-right: 1px solid gray;
    margin-block: 1rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sideLink {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.8rem 1rem;
    position: relative;
    transition: 0.3s linear;
    max-width: 100%;
    overflow: hidden;
    margin-inline: 10px;
    border-radius: 7px;
}



.sideLink:hover,
.sideLink.active {
    background: #fff;
    color: #0252c9;
}

.sideIcon {
    font-size: 16px;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
}


/*----- Sidebar Collapsed Start -----*/

.sidebar.collapsed {
    width: 60px;
    text-align: center;
}

.sidebar.collapsed .sideLinkText {
    display: none;
}

.sidebar.collapsed .sideLink:hover .sideLinkText {
    display: block;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primaryColor);
    color: #fff;
    z-index: 999;
    position: absolute;
    padding: 0.8rem 1rem;
    white-space: nowrap;
}

.sidebar.collapsed .sideIcon {
    margin: 0;
}


.sideIcon img {
    width: 16px;
    line-height: 1;
    margin-top: -5px;
    filter: brightness(0) invert(1);
}

/*----- Sidebar Collapsed End -----*/


@media screen and (max-width: 767px) {

    .sidebar.collapsed {
        width: 0;
    }

    .sidebar.collapsed .sideLink {
        display: none;
    }
}