@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1;
}
p {
  line-height: 1.4;
}

.colorBlue {
  color: #0252c9 !important;
}

.fw-medium {
  font-weight: 600 !important;
}

.sec-tag {
  font-size: 20px;
  border-bottom: 1px solid;
  display: inline-block;
  margin-bottom: 16px;
}

.main-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.main-navbar .navbar-brand {
  max-width: 90px;
}
.main-navbar .navbar-brand img {
  width: 100%;
}
.main-navbar .navbar-nav .nav-link {
  color: #aaaaaa;
}
.btn-login-signup {
  border: 1px solid;
  color: #fff;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  border-radius: 30px;
  text-decoration: none;
}
.btn-login-signup svg {
  font-size: 20px;
}

.main-banner {
  /* background-image: url(assets/main-banner-bg.png); */
  position: relative;
  color: #fff;
  padding: 60px 0;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.main-banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50.1%, -50%);
  z-index: -1;
}
.main-banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-banner-content h1 {
  font-size: 50px;
  line-height: 1.2;
}
.main-banner-content p {
  font-size: 18px;
  max-width: 598px;
  margin: 0 auto;
}

/* Virtual PI */
.virtual-pi-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.virtual-pi-box-icon {
  width: 40px;
}
.virtual-pi-box-icon img {
  width: 100%;
}
.virtual-pi-sec {
  background-color: #ebefef;
  padding: 40px 0;
}
.virtual-pi-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.virtual-pi-box h4 {
  color: #262626;
  font-size: 22px;
}
.virtual-pi-sec .sec-head h4 {
  font-size: 34px;
  line-height: 1.2;
}
/* Virtual PI */

/* Search Smarter */
.search-smarter-sec {
  padding: 60px 0;
}

.search-smarter-sec .sec-head {
  text-align: center;
  margin-bottom: -30px;
}

.search-smarter-sec .sec-head h3 {
  font-size: 44px;
}
.search-smarter-sec .second-box {
  margin-top: 60px;
}

.search-smarter-box {
  padding: 0px 20px 0 20px;
  background-color: #ebefef;
  display: flex;
  border-radius: 12px;
}
.search-smarter-box-img img {
  width: 100%;
}
.search-smarter-box-number {
  background: #0252c9;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  font-size: 20px;
}
.search-smarter-box-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 16px;
}
.search-smarter-box-content h4 {
  font-size: 26px;
  line-height: 1.2;
}
.search-smarter-box-content p {
  font-size: 15px;
  line-height: 1.2;
}

/* Search Smarter */

/* Virtual Pi work */
.virtual-pi-work {
  background: linear-gradient(246deg, #414141 0%, #262626 100%);
  color: #fff;
  padding: 60px 0 0;
}

.v_pi_work_box_icon img {
  width: 100%;
}
.v_pi_work_box_icon {
  width: 40px;
}
.v_pi_work_box_head {
  display: flex;
  align-items: center;
  gap: 13px;
}
.v_pi_work_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-size: cover;
  background-position: top right;
  border-radius: 25px;
  overflow: hidden;
}
.v_pi_work_box p {
  font-size: 16px;
  color: #cbcbcb;
}
.v_pi_work_box_head h5 {
  font-size: 20px;
}

.virtual_boxes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 60px;
}
.v_pi_work_middle_box h3 {
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
  max-width: 290px;
  margin: 0 auto;
  font-weight: 400;
}
.v_pi_work_middle_box {
  height: 100%;
  background-image: url(/src/assets/v_pi_mobile-bg.png);
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.v_pi_work_middle_box p {
  background: #fff;
  color: #262626;
  line-height: 1;
  padding: 9px 16px;
  border-radius: 30px;
}
/* Virtual Pi work */

/* Your Privacy */
.your-privacy-sec {
  padding: 50px 0 70px 0;
  color: #fff;
  background-image: url(/src/assets/your-privacy-bg.png);
  background-size: cover;
  background-position: center top;
}
.your-privacy-sec .sec-head h2 {
  text-align: center;
  font-size: 50px;
}
.your-privacy-sec .sec-head {
  margin-bottom: 40px;
}

.privacy-box {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #ffffff6b;
  padding: 20px 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 100%;
}
.privacy-box-img {
  background: #0252c9;
  line-height: 1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 28px;
}

.privacy-box h4 {
  font-size: 24px;
  line-height: 1.3;
}

.investegate-sec {
  padding: 60px 0;
  background: #0252c9;
  color: #fff;
}
.apple-playstore-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  max-width: 600px;
  margin: 0 0 0 auto;
}
.apple-playstore-imgs img {
  width: 100%;
}
.apple-playstore-img-devider {
  width: 2px;
  background: #fff;
  height: 100px;
}
.investegate-sec .sec-head h4 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 400;
}
/* Your Privacy */
.why-choose-section {
  position: relative;
  margin: 60px 0;
}
.why-choose-card {
  background: linear-gradient(244deg, #414141 0%, #262626 100%);
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  padding: 35px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-choose-card-head {
  display: flex;
  align-items: center;
  gap: 16px;
}

.why-choose-card-head h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.why-choose-card-head-img {
  width: 60px;
}
.why-choose-card-head-img img {
  width: 100%;
}

.why-choose-card p {
  font-size: 15px;
  font-weight: 400;
  color: #cbcbcb;
  min-height: 63px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.why-choose-section .sec-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.why-choose-section .why-choose-slide-btns {
  position: relative;
  width: 110px;
}
.why-choose-section .sec-head h2 {
  color: #414141;
  font-size: 43px;
}
.why-choose-slide-btns .swiper-button-next:after,
.why-choose-slide-btns .swiper-button-prev:after {
  content: "";
}
.why-choose-slide-btns .swiper-button-next,
.why-choose-slide-btns .swiper-button-prev {
  line-height: 1;
  border: 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  color: #262626;
}
.why-choose-slide-btns .swiper-button-next:hover,
.why-choose-slide-btns .swiper-button-prev:hover {
  background-color: #262626;
  color: #fff;
}
.why-choose-slide-btns .swiper-button-next svg,
.why-choose-slide-btns .swiper-button-prev svg {
  line-height: 1;
}

.why-choose-section .swiper {
  padding-bottom: 40px;
}

.why-choose-section .swiper-pagination-bullet {
  border: 1px solid #262626;
  background: transparent !important;
  opacity: 0.8 !important;
}
.why-choose-section .swiper-pagination-bullet-active {
  background: #262626 !important;
  width: 30px !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.makes-different-sec {
  margin: 60px 0 0;
}
.makes-different-sec .sec-head h2 {
  text-align: center;
  font-size: 50px;
  color: #262626;
}

.makes-different-sec .sec-head {
  margin-bottom: 35px;
}

.make-different-content-img-div {
  max-width: 340px;
  margin: 0 auto;
  position: relative;
}
.make-different-content-img {
  width: 100%;
}
.make-different-content-sec {
  /* background: #000; */
  padding: 60px 0 0;
  background-image: url(/src/assets/make-different-content-bg.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.make-different-content-box {
  background: rgba(0, 0, 0, 0.5);
  border: 0.4px solid #ffffff;
  border-radius: 10px;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 12px;
  color: #fff;
  display: flex;
  align-items: start;
  gap: 10px;
  position: absolute;
  top: 0;
  width: 360px;
}
.make-different-content-box-img {
  width: 50px;
  background: #0252c9;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.make-different-content-box-img img {
  width: 25px;
  object-fit: contain;
  object-position: center;
}

.make-different-content-box-text h4 {
  font-size: 21px;
  margin-bottom: 6px;
}
.make-different-content-box-text p {
  color: #9e9e9e;
  font-size: 14px;
}

.make-different-content-box1 {
  right: 100%;
  top: 5%;
}
.make-different-content-box2 {
  right: 100%;
  top: 55%;
}
.make-different-content-box3 {
  left: 100%;
  top: 15%;
}
.make-different-content-box4 {
  left: 100%;
  top: 65%;
}

.faqs-sec {
  background-image: url(/src/assets/faq-sec-bg.png);
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed;
  padding: 60px 0;
  color: #fff;
}

.faqs-content h2 {
  font-size: 61px;
  margin-bottom: 16px;
  font-weight: 400;
}
.faqs-content p {
  font-size: 16px;
  opacity: 80%;
}

.faqs-items .accordion-button {
  padding: 0;
  background: transparent;
  color: #fff;
  box-shadow: unset;
}
.faqs-items .accordion-item {
  border: 1px solid #ffffff6b;
  padding: 20px 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
}
.faqs-items .accordion-body {
  padding: 10px 0 0;
  color: #aaaaaa;
  font-size: 15px;
}
.faqs-items .accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faqs-items .accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: unset;
  color: #fff;
}
.faqs-items .accordion-button::after {
  filter: invert(1) brightness(1000%);
}

/* Plans Sec */
.plans-sec {
  margin: 60px 0;
}

.plans-sec .sec-head h2 {
  font-size: 46px;
  text-align: center;
}

.plans-sec .sec-head {
  max-width: 450px;
  margin: 0 auto 30px;
}
.plan-card {
  background-image: url(/src/assets//plan-card-bg.png);
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-size: cover;
  background-position: top right;
  height: 100%;
  overflow: hidden;
  border-radius: 14px;
}
.plan-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.plan-card-title {
  display: flex;
  align-items: end;
  gap: 5px;
}
.plan-card-list {
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plan-card-list-item::marker {
  color: #44c454;
}
.plan-card-title p,
.plan-card-list-item {
  color: #9e9e9e;
  font-size: 15px;
}
.plan-card-title h3 {
  font-size: 20px;
}
.plan-card-price {
  font-size: 30px;
}
/* Plans Sec */

/* Testimonial Sec */
.testimonial-sec {
  margin: 60px 0;
}

.testimonial-sec .sec-head {
  text-align: center;
  max-width: 570px;
  margin: -110px auto 30px;
}
.testimonial-sec .sec-head h2 {
  font-size: 44px;
}

.testimonial-card {
  background-color: #0252c9;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.testimonial-card-flex-row {
  flex-direction: row-reverse;
}
.testimonial-card.lightGray {
  background-color: #ebefef;
  color: #0252c9;
}

.testimonial-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.testimonial-rating-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testimonial-card-content h4 {
  font-size: 26px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonial-rating-stars {
  max-width: 90px;
}
.testimonial-rating-stars img {
  width: 100%;
}
.testimonial-rating p {
  font-size: 14px;
  color: #9e9e9e;
}
.testimonial-user h5 {
  font-size: 18px;
  font-weight: 700;
}
.testimonial-user {
  text-align: right;
}
.testimonial-user p {
  font-size: 14px;
}
.testimonial-card-img img {
  width: 100%;
}

.testimonial-card-flex-row .testimonial-card-img {
  width: 100%;
}
.testimonial-card-flex-row .testimonial-card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial-card-flex-row .testimonial-card-content {
  flex-grow: 1;
}
/* Testimonial Sec */

/* Footer */
.main-footer {
  background-image: url(/src/assets/footer-bg.png);
  padding: 60px 0;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.footer-links-div h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
.main-footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-footer-links a {
  color: #aaaaaa;
  text-decoration: none;
  font-size: 16px;
}

.ssl-div h3 {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.ssl-div-images {
  display: flex;
  align-items: center;
  gap: 25px;
}
.ssl-div-images img {
  width: 100%;
}
.copyright-content p {
  color: #9e9e9e;
}
.copyright-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.copyright-content-f-20 {
  font-size: 18px;
  font-weight: 500;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-social-link {
  line-height: 1;
  color: #fff;
  font-size: 25px;
}
.footer-social h4 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 16px;
}
/* Footer */

/* Inner Pages Start */
.innerBanner {
  padding: 200px 0 60px;
  color: #fff;
  background-size: cover;
  background-position: center;
}
.innerBanner-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.innerBanner-content h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
}
.innerBanner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #aaaaaa;
}

.innerBanner-button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
}

.our-mission-sec {
  margin: 60px 0;
}
.our-mission-sec .sec-head {
  text-align: center;
}
.our-mission-sec .sec-head h2 {
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 16px;
  font-weight: 400;
}
.our-mission-sec .sec-head .sec-head-p {
  color: #262626;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 16px;
}

.btn {
  border: 1px solid;
  color: #262626;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
}
.btn:hover {
  border: 1px solid;
}

.why-choose-services {
  background-image: url(assets/make-different-content-bg.png);
  color: #fff;
  padding: 60px 0 0;
  background-size: cover;
  background-position: bottom left;
}

.why-choose-services-content h2 {
  font-size: 59px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.why-choose-services-content-lable {
  color: #fff;
  padding: 18px 30px;
  line-height: 1;
  border-radius: 30px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff6b;
  font-size: 18px;
}
.why-choose-services-content-lables {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 736px;
}

.secured-data-sec {
  background-image: url(assets/secured-data-bg.png);
  padding: 60px 0;
  background-size: cover;
  background-position: right center;
  color: #fff;
}

.secured-data-box {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff6b;
  padding: 30px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.secured-data-box-icon {
  width: 45px;
  height: 45px;
  background: #0252c9;
  padding: 7px 7px;
  border-radius: 7px;
}

.secured-data-box-icon img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.secured-data-box h4 {
  font-size: 26px;
  line-height: 1.1;
}

.secured-data-box p {
  font-size: 16px;
  line-height: 1.2;
  color: #aaaaaa;
}

.secured-data-sec .sec-head {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}
.secured-data-sec .sec-head h2 {
  font-size: 50px;
  margin-bottom: 16px;
  font-weight: 400;
}
.secured-data-sec .sec-head p {
  font-size: 16px;
  color: #aaaaaa;
}

.contactForm {
  margin: 60px 0;
}

.contactFormContent h2 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #262626;
  margin-bottom: 16px;
}
.contactFormContent p {
  color: #7b7b7b;
  font-size: 16px;
}
.contactForm-icons-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contactForm-icon {
  width: 45px;
  height: 45px;
  background: #262626;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.contactForm-icon img {
  width: 100%;
}
.contactForm-details {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 20px;
}
.contactForm-icons-text p {
  color: #262626;
  font-size: 16px;
}

.contactForm-form-input-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contactForm-form {
  background-color: #ebefef;
  padding: 50px 30px;
  border-radius: 12px;
}
.contactForm-form h3 {
  color: #262626;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contactForm-form-input-fields .form-control,
.contactForm-form-input-fields .form-select {
  border: 1px solid #9e9e9e;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 25px;
  color: #9e9e9e;
}
.contactForm-form-input-fields .form-control:hover,
.contactForm-form-input-fields .form-select:hover,
.contactForm-form-input-fields .form-control:focus,
.contactForm-form-input-fields .form-select:focus {
  box-shadow: unset;
}
label.form-check-label {
  user-select: none;
}
.form-check-input:focus {
  box-shadow: unset;
}

.pricing-plan-card {
  background-image: url(assets/pricing-plan-card-bg.png);
  background-size: cover;
  background-position: right top;
  padding: 30px 20px 50px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  height: 100%;
}
.pricing-plan-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing-plan-card-head h4 {
  font-size: 22px;
  font-weight: 400;
}

.pricing-plan-card-head p {
  font-size: 15px;
  color: #9e9e9e;
}
.pricing-plan-card-price {
  font-size: 35px;
  font-weight: 700;
}
.pricing-plan-card-btn {
  background-color: #0252c9;
  color: #fff;
  border: unset;
  padding: 14px 10px;
  line-height: 1;
  border-radius: 30px;
}

.pricing-plan-card-list {
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.pricing-plan-card-list li {
  position: relative;
}

.pricing-plan-card-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: #44c454;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}

.pricing-plan-sec .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin-bottom: 16px;
}
.pricing-plan-sec .sec-head {
  text-align: center;
  max-width: 758px;
  margin: 0 auto 50px;
}
.pricing-plan-sec {
  margin: 60px 0;
}

/* ======================================= */
.one-report-sec {
  padding: 60px 0;
  background-image: url(assets/one-report-bg.png);
  background-size: cover;
  background-position: right top;
}

.one-report-sec .sec-head {
  text-align: center;
  max-width: 610px;
  margin: 0 auto 50px;
}
.one-report-sec .sec-head h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
}

.one-report-card {
  border: 1px solid #ffffff6b;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 20px 50px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  height: 100%;
}
.one-report-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.one-report-card-head h4 {
  font-size: 17px;
  font-weight: 400;
}
.one-report-card-head p {
  font-size: 15px;
  color: #9e9e9e;
}
.one-report-card-price {
  font-size: 25px;
  font-weight: 700;
}
.one-report-card-list {
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.one-report-card-list li {
  position: relative;
}
.one-report-card-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: #44c454;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}

.one-report-card-btn {
  background-color: #0252c9;
  color: #fff;
  border: unset;
  padding: 14px 10px;
  line-height: 1;
  border-radius: 30px;
}

.virtualPILegit-image {
  max-width: 150px;
}
.virtualPILegit-image img {
  width: 100%;
}
.virtualPILegit-images {
  display: flex;
  gap: 16px;
  align-items: center;
}

.official-public-records {
  margin: 60px 0 0;
}
.official-public-records .sec-head {
  text-align: center;
  margin-bottom: 50px;
}
.official-public-records .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin: 0 auto 10px;
  max-width: 730px;
}
.official-public-records .sec-head .sec-head-desc {
  color: #7b7b7b;
  font-size: 16px;
}

.try-search-sec {
  padding: 60px 0;
  background-image: url(assets/try-search-bg.png);
  background-size: cover;
  background-position: right top;
}
.try-search-sec .sec-head h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 730px;
  margin: 0 auto;
}
.try-search-sec .sec-head {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.try-search-btn {
  background-color: #0252c9;
  color: #fff;
  border: unset;
  padding: 14px 25px;
  line-height: 1;
  border-radius: 30px;
}
.try-search-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.try-search-sec .sec-head p {
  color: #aaaaaa;
  font-size: 16px;
}

.stand-out-sec {
  margin: 60px 0;
}
.stand-out-sec .sec-head {
  text-align: center;
  margin-bottom: 50px;
}
.stand-out-sec .sec-head h2 {
  font-size: 50px;
  color: #262626;
  font-weight: 400;
  line-height: 1.2;
  max-width: 660px;
  margin: 0 auto;
}

.yes-no-tables-imgs {
  width: 20px;
}

.comparisonTableContent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comparisonTable-outer-div {
  max-width: 1150px;
  margin: 0 auto;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  border-radius: 16px;
}

.comparisonTable-outer-div td {
  border-bottom: unset;
  padding: 16px 10px;
}
.comparisonTable-outer-div th {
  padding: 16px 10px;
}
.comparisonTable-outer-div .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #ebefef;
}
.comparisonTable-outer-div .table {
  margin-bottom: 0;
}

.reviews-sec {
  margin: 60px 0;
}
.reviews-sec .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin: 0 auto 10px;
  max-width: 680px;
  text-align: center;
}

/* Inner Pages  End*/

/* Media Quries */
@media (max-width: 1399px) {
  .search-smarter-box-content h4 {
    font-size: 23px;
  }
  .v_pi_work_box_head h5 {
    font-size: 17px;
  }
  .v_pi_work_box p {
    font-size: 14px;
    color: #cbcbcb;
  }
  .testimonial-card-content h4 {
    font-size: 22px;
  }
  .testimonial-rating-stars {
    max-width: 80px;
  }
  .testimonial-user h5 {
    font-size: 16px;
  }
  .faqs-content h2 {
    font-size: 52px;
  }
  .our-mission-sec .sec-head h2 {
    font-size: 53px;
  }
  .why-choose-services-content h2 {
    font-size: 47px;
  }
  .secured-data-box h4 {
    font-size: 21px;
  }
  .secured-data-box p {
    font-size: 15px;
  }
}
