@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1;
}
p {
  line-height: 1.4;
}

.colorBlue {
  color: #0252c9 !important;
}

.fw-medium {
  font-weight: 600 !important;
}

.sec-tag {
  font-size: 20px;
  border-bottom: 1px solid;
  display: inline-block;
  margin-bottom: 16px;
}

.main-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.main-navbar .navbar-brand {
  max-width: 90px;
}
.main-navbar .navbar-brand img {
  width: 100%;
}
.main-navbar .navbar-nav .nav-link {
  color: #aaaaaa;
  position: relative;
}
.main-navbar .navbar-nav .nav-link.active {
  color: #fff;
}
.main-navbar .navbar-nav .nav-link.active:after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 2px;
  background-color: #0252c9;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.btn-login-signup {
  border: 1px solid;
  color: #fff;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  border-radius: 30px;
  text-decoration: none;
}
.btn-login-signup svg {
  font-size: 20px;
}

.main-banner {
  /* background-image: url(assets/main-banner-bg.png); */
  position: relative;
  color: #fff;
  padding: 60px 0;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000000;
  overflow: hidden;
}
.main-banner .container {
  z-index: 2;
}
.main-banner video {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50.1%, -50%);
  z-index: 1;
}
.main-banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-banner-content h1 {
  font-size: 50px;
  line-height: 1.2;
}
.main-banner-content p {
  font-size: 18px;
  max-width: 598px;
  margin: 0 auto;
}

/* Virtual PI */
.virtual-pi-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.virtual-pi-box-icon {
  width: 40px;
}
.virtual-pi-box-icon img {
  width: 100%;
}
.virtual-pi-sec {
  background-color: #ebefef;
  padding: 40px 0;
}
.virtual-pi-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.virtual-pi-box h4 {
  color: #262626;
  font-size: 22px;
}
.virtual-pi-sec .sec-head h4 {
  font-size: 34px;
  line-height: 1.2;
}
/* Virtual PI */

/* Search Smarter */
.search-smarter-sec {
  padding: 60px 0;
  overflow: hidden;
}

.search-smarter-sec .sec-head {
  text-align: center;
  margin-bottom: -30px;
}

.search-smarter-sec .sec-head h3 {
  font-size: 44px;
}
.search-smarter-sec .second-box {
  margin-top: 60px;
}

.search-smarter-box {
  padding: 0px 20px 0 20px;
  background-color: #ebefef;
  display: flex;
  border-radius: 12px;
}
.search-smarter-box-img img {
  width: 100%;
}
.search-smarter-box-number {
  background: #0252c9;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  font-size: 20px;
}
.search-smarter-box-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 16px;
}
.search-smarter-box-content h4 {
  font-size: 26px;
  line-height: 1.2;
}
.search-smarter-box-content p {
  font-size: 15px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Search Smarter */

/* Virtual Pi work */
.virtual-pi-work {
  background: linear-gradient(246deg, #414141 0%, #262626 100%);
  color: #fff;
  padding: 60px 0 0;
  overflow: hidden;
}

.v_pi_work_box_icon img {
  width: 100%;
}
.v_pi_work_box_icon {
  width: 40px;
}
.v_pi_work_box_head {
  display: flex;
  align-items: center;
  gap: 13px;
}
.v_pi_work_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-size: cover;
  background-position: top right;
  border-radius: 25px;
  overflow: hidden;
}
.v_pi_work_box p {
  font-size: 16px;
  color: #cbcbcb;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.v_pi_work_box_head h5 {
  font-size: 20px;
}

.virtual_boxes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 60px;
}
.v_pi_work_middle_box h3 {
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
  max-width: 290px;
  margin: 0 auto;
  font-weight: 400;
}
.v_pi_work_middle_box {
  height: 100%;
  background-image: url(/src/assets/v_pi_mobile-bg.png);
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.v_pi_work_middle_box p {
  background: #fff;
  color: #262626;
  line-height: 1;
  padding: 9px 16px;
  border-radius: 30px;
}
/* Virtual Pi work */

/* Your Privacy */
.your-privacy-sec {
  padding: 50px 0 70px 0;
  color: #fff;
  background-image: url(/src/assets/your-privacy-bg.png);
  background-size: cover;
  background-position: center top;
}
.your-privacy-sec .sec-head h2 {
  text-align: center;
  font-size: 50px;
}
.your-privacy-sec .sec-head {
  margin-bottom: 40px;
}

.privacy-box {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #ffffff6b;
  padding: 20px 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 100%;
}
.privacy-box-img {
  background: #0252c9;
  line-height: 1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 28px;
}

.privacy-box h4 {
  font-size: 24px;
  line-height: 1.3;
}

.investegate-sec {
  padding: 60px 0;
  background: #0252c9;
  color: #fff;
  overflow: hidden;
}
.apple-playstore-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  max-width: 600px;
  margin: 0 0 0 auto;
}
.apple-playstore-imgs img {
  width: 100%;
}
.apple-playstore-img-devider {
  width: 2px;
  background: #fff;
  height: 100px;
}
.investegate-sec .sec-head h4 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 400;
}
/* Your Privacy */
.why-choose-section {
  position: relative;
  margin: 60px 0;
}
.why-choose-card {
  background: linear-gradient(244deg, #414141 0%, #262626 100%);
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  padding: 35px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-choose-card-head {
  display: flex;
  align-items: center;
  gap: 16px;
}

.why-choose-card-head h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.why-choose-card-head-img {
  width: 60px;
}
.why-choose-card-head-img img {
  width: 100%;
}

.why-choose-card p {
  font-size: 15px;
  font-weight: 400;
  color: #cbcbcb;
  min-height: 63px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.why-choose-section .sec-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.why-choose-section .why-choose-slide-btns {
  position: relative;
  width: 110px;
}
.why-choose-section .sec-head h2 {
  color: #414141;
  font-size: 43px;
}
.why-choose-slide-btns .swiper-button-next:after,
.why-choose-slide-btns .swiper-button-prev:after {
  content: "";
}
.why-choose-slide-btns .swiper-button-next,
.why-choose-slide-btns .swiper-button-prev {
  line-height: 1;
  border: 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  color: #262626;
}
.why-choose-slide-btns .swiper-button-next:hover,
.why-choose-slide-btns .swiper-button-prev:hover {
  background-color: #262626;
  color: #fff;
}
.why-choose-slide-btns .swiper-button-next svg,
.why-choose-slide-btns .swiper-button-prev svg {
  line-height: 1;
}

.why-choose-section .swiper {
  padding-bottom: 40px;
}

.why-choose-section .swiper-pagination-bullet {
  border: 1px solid #262626;
  background: transparent !important;
  opacity: 0.8 !important;
}
.why-choose-section .swiper-pagination-bullet-active {
  background: #262626 !important;
  width: 30px !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.makes-different-sec {
  margin: 60px 0 0;
}
.makes-different-sec .sec-head h2 {
  text-align: center;
  font-size: 50px;
  color: #262626;
}

.makes-different-sec .sec-head {
  margin-bottom: 35px;
}

.make-different-content-img-div {
  max-width: 340px;
  margin: 0 auto;
  position: relative;
}
.make-different-content-img {
  width: 100%;
}
.make-different-content-sec {
  /* background: #000; */
  padding: 60px 0 0;
  background-image: url(/src/assets/make-different-content-bg.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.make-different-content-box {
  background: rgba(0, 0, 0, 0.5);
  border: 0.4px solid #ffffff;
  border-radius: 10px;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 12px;
  color: #fff;
  display: flex;
  align-items: start;
  gap: 10px;
  position: absolute;
  top: 0;
  width: 360px;
}
.make-different-content-box-img {
  width: 50px;
  background: #0252c9;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.make-different-content-box-img img {
  width: 25px;
  object-fit: contain;
  object-position: center;
}

.make-different-content-box-text h4 {
  font-size: 21px;
  margin-bottom: 6px;
}
.make-different-content-box-text p {
  color: #9e9e9e;
  font-size: 14px;
}

.make-different-content-box1 {
  right: 100%;
  top: 5%;
}
.make-different-content-box2 {
  right: 100%;
  top: 55%;
}
.make-different-content-box3 {
  left: 100%;
  top: 15%;
}
.make-different-content-box4 {
  left: 100%;
  top: 65%;
}

.faqs-sec {
  background-image: url(/src/assets/faq-sec-bg.png);
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed;
  padding: 60px 0;
  color: #fff;
}

.faqs-content h2 {
  font-size: 61px;
  margin-bottom: 16px;
  font-weight: 400;
}
.faqs-content p {
  font-size: 16px;
  opacity: 80%;
}

.faqs-items .accordion-button {
  padding: 0;
  background: transparent;
  color: #fff;
  box-shadow: unset;
}
.faqs-items .accordion-item {
  border: 1px solid #ffffff6b;
  padding: 20px 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
}
.faqs-items .accordion-body {
  padding: 10px 0 0;
  color: #aaaaaa;
  font-size: 15px;
}
.faqs-items .accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faqs-items .accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: unset;
  color: #fff;
}
.faqs-items .accordion-button::after {
  filter: invert(1) brightness(1000%);
}

/* Plans Sec */
.plans-sec {
  margin: 60px 0;
}

.plans-sec .sec-head h2 {
  font-size: 46px;
  text-align: center;
}

.plans-sec .sec-head {
  max-width: 450px;
  margin: 0 auto 30px;
}
.plan-card {
  background-image: url(/src/assets//plan-card-bg.png);
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-size: cover;
  background-position: top right;
  height: 100%;
  overflow: hidden;
  border-radius: 14px;
}
.plan-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.plan-card-title {
  display: flex;
  align-items: end;
  gap: 5px;
}
.plan-card-list {
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plan-card-list-item::marker {
  color: #44c454;
}
.plan-card-title p,
.plan-card-list-item {
  color: #9e9e9e;
  font-size: 15px;
}
.plan-card-title h3 {
  font-size: 20px;
}
.plan-card-price {
  font-size: 30px;
}
/* Plans Sec */

/* Testimonial Sec */
.testimonial-sec {
  margin: 60px 0;
  overflow: hidden;
}

.testimonial-sec .sec-head {
  text-align: center;
  max-width: 570px;
  margin: -110px auto 30px;
}
.testimonial-sec .sec-head h2 {
  font-size: 44px;
}

.testimonial-card {
  background-color: #0252c9;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.testimonial-card-flex-row {
  flex-direction: row-reverse;
}
.testimonial-card.lightGray {
  background-color: #ebefef;
  color: #0252c9;
}

.testimonial-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.testimonial-rating-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testimonial-card-content h4 {
  font-size: 26px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonial-rating-stars {
  max-width: 90px;
}
.testimonial-rating-stars img {
  width: 100%;
}
.testimonial-rating p {
  font-size: 14px;
  color: #9e9e9e;
}
.testimonial-user h5 {
  font-size: 18px;
  font-weight: 700;
}
.testimonial-user {
  text-align: right;
}
.testimonial-user p {
  font-size: 14px;
}
.testimonial-card-img img {
  width: 100%;
}

.testimonial-card-flex-row .testimonial-card-img {
  width: 100%;
}
.testimonial-card-flex-row .testimonial-card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial-card-flex-row .testimonial-card-content {
  flex-grow: 1;
}
/* Testimonial Sec */

/* Footer */
.main-footer {
  background-image: url(/src/assets/footer-bg.png);
  padding: 60px 0;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.footer-links-div h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
.main-footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-footer-links a {
  color: #aaaaaa;
  text-decoration: none;
  font-size: 16px;
}

.ssl-div h3 {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.ssl-div-images {
  display: flex;
  align-items: center;
  gap: 25px;
}
.ssl-div-images img {
  width: 100%;
}
.copyright-content p {
  color: #9e9e9e;
}
.copyright-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.copyright-content-f-20 {
  font-size: 18px;
  font-weight: 500;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-social-link {
  line-height: 1;
  color: #fff;
  font-size: 25px;
}
.footer-social h4 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 16px;
}
/* Footer */

/* Inner Pages Start */
.innerBanner {
  padding: 200px 0 100px;
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
}
.innerBanner video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50.1%, -50%);
  z-index: -1;
}
.innerBanner-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.innerBanner-content h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
}
.innerBanner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #aaaaaa;
}

.innerBanner-button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
}

.our-mission-sec {
  margin: 60px 0;
}
.our-mission-sec .sec-head {
  text-align: center;
}
.our-mission-sec .sec-head h2 {
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 16px;
  font-weight: 400;
}
.our-mission-sec .sec-head .sec-head-p {
  color: #262626;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 16px;
}

.btn {
  border: 1px solid;
  color: #262626;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
}
.btn:hover {
  border: 1px solid;
}

.why-choose-services {
  background-image: url(assets/make-different-content-bg.png);
  color: #fff;
  padding: 60px 0 0;
  background-size: cover;
  background-position: bottom left;
  overflow: hidden;
}

.why-choose-services-content h2 {
  font-size: 59px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.why-choose-services-content-lable {
  color: #fff;
  padding: 18px 30px;
  line-height: 1;
  border-radius: 30px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff6b;
  font-size: 18px;
}
.why-choose-services-content-lables {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 736px;
}

.secured-data-sec {
  background-image: url(assets/secured-data-bg.png);
  padding: 60px 0;
  background-size: cover;
  background-position: right center;
  color: #fff;
}

.secured-data-box {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff6b;
  padding: 30px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.secured-data-box-icon {
  width: 45px;
  height: 45px;
  background: #0252c9;
  padding: 7px 7px;
  border-radius: 7px;
}

.secured-data-box-icon img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.secured-data-box h4 {
  font-size: 26px;
  line-height: 1.1;
}

.secured-data-box p {
  font-size: 16px;
  line-height: 1.2;
  color: #aaaaaa;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.secured-data-sec .sec-head {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}
.secured-data-sec .sec-head h2 {
  font-size: 50px;
  margin-bottom: 16px;
  font-weight: 400;
}
.secured-data-sec .sec-head p {
  font-size: 16px;
  color: #aaaaaa;
}

.contactForm {
  margin: 60px 0;
  overflow: hidden;
}

.contactFormContent h2 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #262626;
  margin-bottom: 16px;
}
.contactFormContent p {
  color: #7b7b7b;
  font-size: 16px;
}
.contactForm-icons-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contactForm-icon {
  width: 45px;
  height: 45px;
  background: #262626;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.contactForm-icon img {
  width: 100%;
}
.contactForm-details {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 20px;
}
.contactForm-icons-text p {
  color: #262626;
  font-size: 16px;
}

.contactForm-form-input-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contactForm-form {
  background-color: #ebefef;
  padding: 50px 30px;
  border-radius: 12px;
}
.contactForm-form h3 {
  color: #262626;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contactForm-form-input-fields .form-control,
.contactForm-form-input-fields .form-select {
  border: 1px solid #9e9e9e;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 25px;
  color: #9e9e9e;
}
.contactForm-form-input-fields .form-control:hover,
.contactForm-form-input-fields .form-select:hover,
.contactForm-form-input-fields .form-control:focus,
.contactForm-form-input-fields .form-select:focus {
  box-shadow: unset;
}
label.form-check-label {
  user-select: none;
}
.form-check-input:focus {
  box-shadow: unset;
}

.pricing-plan-card {
  background-image: url(assets/pricing-plan-card-bg.png);
  background-size: cover;
  background-position: right top;
  padding: 30px 20px 50px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  height: 100%;
}
.pricing-plan-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing-plan-card-head h4 {
  font-size: 22px;
  font-weight: 400;
}

.pricing-plan-card-head p {
  font-size: 15px;
  color: #9e9e9e;
}
.pricing-plan-card-price {
  font-size: 35px;
  font-weight: 700;
}
.pricing-plan-card-btn {
  background-color: #0252c9;
  color: #fff;
  border: unset;
  padding: 14px 10px;
  line-height: 1;
  border-radius: 30px;
}

.pricing-plan-card-list {
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.pricing-plan-card-list li {
  position: relative;
}

.pricing-plan-card-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: #44c454;
  left: -15px;
  top: 12px;
  transform: translate(0, -50%);
  border-radius: 50%;
}

.pricing-plan-sec .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin-bottom: 16px;
}
.pricing-plan-sec .sec-head {
  text-align: center;
  max-width: 758px;
  margin: 0 auto 50px;
}
.pricing-plan-sec {
  margin: 60px 0;
}

/* ======================================= */
.one-report-sec {
  padding: 60px 0;
  background-image: url(assets/one-report-bg.png);
  background-size: cover;
  background-position: right top;
}

.one-report-sec .sec-head {
  text-align: center;
  max-width: 610px;
  margin: 0 auto 50px;
}
.one-report-sec .sec-head h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
}

.one-report-card {
  border: 1px solid #ffffff6b;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 20px 50px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  height: 100%;
}
.one-report-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.one-report-card-head h4 {
  font-size: 17px;
  font-weight: 400;
}
.one-report-card-head p {
  font-size: 15px;
  color: #9e9e9e;
}
.one-report-card-price {
  font-size: 25px;
  font-weight: 700;
}
.one-report-card-list {
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.one-report-card-list li {
  position: relative;
}
.one-report-card-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: #44c454;
  left: -15px;
  top: 12px;
  transform: translate(0, -50%);
  border-radius: 50%;
}

.one-report-card-btn {
  background-color: #0252c9;
  color: #fff;
  border: unset;
  padding: 14px 10px;
  line-height: 1;
  border-radius: 30px;
}

.virtualPILegit-image {
  max-width: 150px;
}
.virtualPILegit-image img {
  width: 100%;
}
.virtualPILegit-images {
  display: flex;
  gap: 16px;
  align-items: center;
}

.official-public-records {
  margin: 60px 0 0;
  overflow: hidden;
}
.official-public-records .sec-head {
  text-align: center;
  margin-bottom: 50px;
}
.official-public-records .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin: 0 auto 10px;
  max-width: 730px;
}
.official-public-records .sec-head .sec-head-desc {
  color: #7b7b7b;
  font-size: 16px;
}

.try-search-sec {
  padding: 60px 0;
  background-image: url(assets/try-search-bg.png);
  background-size: cover;
  background-position: right top;
}
.try-search-sec .sec-head h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 730px;
  margin: 0 auto;
}
.try-search-sec .sec-head {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.try-search-btn {
  background-color: #0252c9;
  color: #fff;
  border: unset;
  padding: 14px 25px;
  line-height: 1;
  border-radius: 30px;
}
.try-search-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.try-search-sec .sec-head p {
  color: #aaaaaa;
  font-size: 16px;
}

.stand-out-sec {
  margin: 60px 0;
}
.stand-out-sec .sec-head {
  text-align: center;
  margin-bottom: 50px;
}
.stand-out-sec .sec-head h2 {
  font-size: 50px;
  color: #262626;
  font-weight: 400;
  line-height: 1.2;
  max-width: 660px;
  margin: 0 auto;
}

.yes-no-tables-imgs {
  width: 20px;
}

.comparisonTableContent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comparisonTable-outer-div {
  max-width: 1150px;
  margin: 0 auto;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  border-radius: 16px;
}

.comparisonTable-outer-div td {
  border-bottom: unset;
  padding: 16px 10px;
}
.comparisonTable-outer-div th {
  padding: 16px 10px;
  white-space: nowrap;
}
.comparisonTableContent {
  white-space: nowrap;
}
.comparisonTable-outer-div .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #ebefef;
}
.comparisonTable-outer-div .table {
  margin-bottom: 0;
}

.reviews-sec {
  margin: 60px 0;
}
.reviews-sec .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin: 0 auto 30px;
  max-width: 680px;
  text-align: center;
}

.reviews-tabs {
  gap: 10px;
  justify-content: center;
  border: 0;
  margin-bottom: 30px;
}
.reviews-tabs .nav-link {
  color: #7b7b7b;
  padding: 10px 20px;
  border-radius: 30px !important;
  font-size: 14px;
  margin: 0px;
  border: 1px solid #7b7b7b !important;
}
.reviews-tabs .nav-link:hover {
  color: #fff;
  background-color: #0252c9;
  border-color: #0252c9 !important;
}
.reviews-tabs .nav-link.active {
  border-color: #0252c9 !important;
  background-color: #0252c9;
  color: #ffffff;
}

.reviews-sec .swiper {
  padding-bottom: 40px;
}
.reviews-sec .swiper-pagination-bullet {
  border: 1px solid #262626;
  background: transparent !important;
  opacity: 0.8 !important;
}
.reviews-sec .swiper-pagination-bullet-active {
  background: #262626 !important;
  width: 30px !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.reviews-sec .swiper-slide-active .testimonial-card-img {
  height: 245.859px;
}
.reviews-sec .swiper-slide-active .testimonial-card-img img {
  object-fit: cover;
  object-position: top;
  width: 100% !important;
  height: 100%;
}
.reviews-sec .swiper-slide .testimonial-card-content h4 {
  -webkit-line-clamp: 5;
}

.transparent-reviews {
  background-image: url(assets/transparent-reviews-bg.png);
  background-size: cover;
  background-position: right top;
  padding: 60px 0 0;
  overflow: hidden;
}

.transparent-reviews .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
  color: #262626;
  margin: 0 auto 30px;
  max-width: 680px;
  text-align: center;
  color: #fff;
}

.transparent-reviews-boxes {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* gap: 12px; */
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  background-image: url(assets/transparent-reviews-mobile-img.png);
  padding: 90px 1px 66px;
  background-repeat: no-repeat;
  background-size: 34% 100%;
  background-position: center;
}
.transparent-reviews-box {
  border: 1px solid #ffffff6b;
  padding: 16px 16px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 9px;
  min-height: 202px;
}
.transparent-reviews-box ul {
  margin: 0;
  padding-left: 14px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.transparent-reviews-box ul li {
  position: relative;
  font-size: 13px;
}
.transparent-reviews-box ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: #0252c9;
  left: -15px;
  top: 11px;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.transparent-reviews-box h4 {
  font-size: 17px;
  margin-bottom: 16px;
  line-height: 1.3;
}

.transparent-reviews-boxes .swiper-slide-active .transparent-reviews-box {
  background-color: #0252c9;
}
.transparent-reviews-boxes
  .swiper-slide-active
  .transparent-reviews-box
  ul
  li:before {
  background: #44c454;
}

.reviewContentBox {
  display: flex;
  align-items: start;
  position: absolute;
}
.reviewContentBox p {
  border: 1px solid #ffffff6b;
  padding: 3px 7px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 9px;
  font-size: 10px;
  max-width: 99px;
  margin-top: 13px;
  margin-left: -10px;
}
.reviewRightContent {
  height: 100%;
  position: relative;
}

.reviewContentBox-1 {
  top: 30px;
}
.reviewContentBox-2 {
  top: 0;
  left: 50%;
}
.reviewContentBox-3 {
  left: 20%;
  top: 50%;
}
.reviewContentBox-4 {
  right: 0;
  top: 50%;
}
.reviewContentBox-5 {
  bottom: 0;
  left: 50%;
}

.reviewContentBox img {
  width: 60px;
}
.legitimate-img-content-label {
  background: transparent linear-gradient(180deg, #414141 0%, #262626 100%) 0%
    0% no-repeat padding-box;
  width: fit-content;
  color: #fff;
  padding: 14px 20px;
  line-height: 1;
  font-size: 16px;
  border-radius: 12px;
}
.legitimate-img-content {
  position: relative;
  margin-bottom: -140px;
}
.legitimate-img-content img {
  width: 100%;
}

.legitimate-img-content-label {
  position: absolute;
}
.legitimate-img-content-label-1 {
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
}
.legitimate-img-content-label-2 {
  left: 10%;
  top: 0%;
}
.legitimate-img-content-label-3 {
  right: 17%;
  top: 0%;
}
.legitimate-img-content-label-4 {
  left: 0%;
  top: 27.5%;
}
.legitimate-img-content-label-5 {
  right: 6%;
  top: 27.5%;
}

.login-sign-up-sec {
  padding: 40px 0;
}
.login-sign-up-sec .contactForm-form .btn:hover {
  background-color: #0252c9;
  color: #fff;
}
.login-sign-up-sec .contactForm-form .btn {
  color: #0252c9;
}
.login-sign-up-sec .contactForm-form-input-fields .form-control:focus {
  border: 1px solid #0252c9;
}
.login-sign-up-sec .contactForm-form h3 {
  color: #0252c9;
}
.register-login-div {
  background-image: url(assets/transparent-reviews-bg.png);
  background-size: cover;
  background-position: right top;
}
/* Inner Pages  End*/

/* Special Effect Start */
@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.reviewContentBox-1,
.reviewContentBox-2,
.reviewContentBox-3,
.reviewContentBox-4,
.reviewContentBox-5 {
  animation: floatDiagonal 4s ease-in-out infinite;
}

.reviewContentBox-1 {
  animation-delay: 0s;
}
.reviewContentBox-2 {
  animation-delay: 0.5s;
}
.reviewContentBox-3 {
  animation-delay: 1s;
}
.reviewContentBox-4 {
  animation-delay: 1.5s;
}
.reviewContentBox-5 {
  animation-delay: 2s;
}

@keyframes floatDiagonal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Special Effect End */

/* Media Quries */
@media (max-width: 1399px) {
  .search-smarter-box-content h4 {
    font-size: 23px;
  }
  .v_pi_work_box_head h5 {
    font-size: 17px;
  }
  .v_pi_work_box p {
    font-size: 14px;
    color: #cbcbcb;
  }
  .testimonial-card-content h4 {
    font-size: 22px;
  }
  .testimonial-rating-stars {
    max-width: 80px;
  }
  .testimonial-user h5 {
    font-size: 16px;
  }
  .faqs-content h2 {
    font-size: 52px;
  }
  .our-mission-sec .sec-head h2 {
    font-size: 53px;
  }
  .why-choose-services-content h2 {
    font-size: 47px;
  }
  .secured-data-box h4 {
    font-size: 21px;
  }
  .secured-data-box p {
    font-size: 15px;
  }
  .search-smarter-box-content p {
    font-size: 14px;
  }
}

@media (max-width: 1199px) {
  .legitimate-img-content-label {
    font-size: 13px;
    padding: 12px 16px;
  }
  .legitimate-img-content-label-2 {
    left: 7%;
  }
  .legitimate-img-content-label-3 {
    right: 15%;
  }
  .legitimate-img-content-label-4 {
    top: 27%;
  }
  .legitimate-img-content-label-5 {
    right: 4%;
    top: 27%;
  }

  .innerBanner-content h1 {
    font-size: 40px;
  }
  .innerBanner-content p {
    font-size: 16px;
  }
  .main-banner-content h1 {
    font-size: 44px;
  }
  .virtual-pi-box h4 {
    font-size: 17px;
  }
  .virtual-pi-sec .sec-head h4 {
    font-size: 24px;
  }
  .virtual-pi-box-icon {
    width: 35px;
  }
  .search-smarter-box-content h4 {
    font-size: 17px;
  }
  .search-smarter-box-content p {
    font-size: 14px;
  }
  .search-smarter-sec .sec-head h3 {
    font-size: 38px;
  }
  .v_pi_work_box p {
    font-size: 12px;
  }
  .v_pi_work_box {
    gap: 10px;
  }

  .why-choose-card {
    padding: 30px 16px;
    gap: 16px;
  }
  .why-choose-card p {
    font-size: 14px;
  }
  .why-choose-card-head h4 {
    font-size: 18px;
  }
  .why-choose-card-head {
    gap: 10px;
  }
  .why-choose-section .sec-head h2 {
    font-size: 35px;
  }
  .makes-different-sec .sec-head h2 {
    font-size: 42px;
  }

  .faqs-content h2 {
    font-size: 44px;
  }
  .faqs-content p {
    font-size: 15px;
  }
  .faqs-items .accordion-item {
    padding: 16px 16px;
  }
  .faqs-items .accordion-body {
    font-size: 14px;
  }
  .plans-sec .sec-head h2 {
    font-size: 42px;
  }
  .plan-card-title h3 {
    font-size: 18px;
  }
  .plan-card-title p,
  .plan-card-list-item {
    font-size: 14px;
    line-height: 1.2;
  }
  .plan-card-price {
    font-size: 24px;
  }
  .your-privacy-sec .sec-head h2 {
    font-size: 40px;
  }
  .privacy-box h4 {
    font-size: 19px;
  }
  .privacy-box {
    gap: 9px;
    padding: 16px 16px;
  }
  .investegate-sec .sec-head h4 {
    font-size: 29px;
  }
  .apple-playstore-imgs {
    gap: 16px;
    max-width: 460px;
  }
  .investegate-sec {
    padding: 30px 0;
  }
  .footer-links-div h3 {
    font-size: 20px;
  }
  .main-footer-links a {
    font-size: 14px;
  }
  .main-footer-links {
    gap: 7px;
  }
  .ssl-div h3 {
    font-size: 18px;
  }
  .ssl-div-images {
    gap: 15px;
  }
  .copyright-content-f-20 {
    font-size: 16px !important;
  }

  .copyright-content p {
    font-size: 14px;
  }
  .testimonial-card-content h4 {
    font-size: 18px;
  }
  .testimonial-card-flex-row .testimonial-card-img {
    width: 360px;
  }

  .testimonial-sec .sec-head h2 {
    font-size: 31px;
  }
  .testimonial-sec .sec-head {
    max-width: 340px;
    margin: -110px auto 30px;
  }
  .sec-tag {
    font-size: 16px;
    margin-bottom: 13px;
  }

  .main-banner {
    padding: 230px 0 180px;
    height: unset;
  }

  .make-different-content-box {
    padding: 8px 8px;
    width: 290px;
  }
  .make-different-content-box-text h4 {
    font-size: 17px;
    margin-bottom: 3px;
  }
  .make-different-content-img-div {
    max-width: 240px;
  }
  .make-different-content-box-text p {
    font-size: 12px;
    line-height: 1;
  }

  .search-smarter-box-content {
    gap: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .why-choose-services-content h2 {
    font-size: 33px;
  }
  .why-choose-services-content-lable {
    padding: 13px 20px;
    font-size: 16px;
  }

  .contactFormContent h2 {
    font-size: 42px;
    line-height: 1.1;
  }
  .contactFormContent p {
    font-size: 15px;
  }
  .contactForm-form {
    padding: 40px 20px;
  }
  .contactForm-form h3 {
    font-size: 25px;
    margin-bottom: 16px;
  }
  .contactForm-form-input-fields .form-control,
  .contactForm-form-input-fields .form-select {
    padding: 10px 14px;
    font-size: 14px;
  }

  .contactForm-btn-div {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .contactForm-btn-div .form-check {
    width: 100%;
  }

  .secured-data-box {
    padding: 20px 12px;
  }
  .secured-data-box h4 {
    font-size: 19px;
  }
  .secured-data-box p {
    font-size: 14px;
  }
  .pricing-plan-card {
    padding: 30px 14px 50px;
    gap: 30px;
  }

  .pricing-plan-card-list li {
    font-size: 14px;
  }
  .pricing-plan-card-price {
    font-size: 28px;
  }
  .pricing-plan-card-head p {
    font-size: 14px;
  }
  .pricing-plan-card-head h4 {
    font-size: 20px;
  }

  .one-report-card {
    -webkit-backdrop-filter: blur(25px);
    padding: 30px 14px 50px;
    gap: 16px;
  }

  .one-report-card-list li {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .reviews-sec-slider-content {
    max-width: 360px;
    margin: 0 auto;
  }
  .main-navbar .navbar-nav .nav-link.active:after {
    content: unset;
  }

  .legitimate-img-content img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .legitimate-img-content-label-2 {
    left: 2%;
    top: 8%;
  }
  .legitimate-img-content-label-3 {
    right: 11%;
    top: 7%;
  }
  .legitimate-img-content-label-4 {
    top: 32%;
  }
  .legitimate-img-content-label-5 {
    right: 6%;
    top: 31%;
  }
  .legitimate-img-content {
    padding-top: 30px;
    margin-bottom: -70px;
  }

  .reviewRightContent {
    height: 260px;
    margin-top: 40px;
  }
  .innerBanner {
    padding: 140px 0 50px;
  }
  .stand-out-sec .sec-head h2 {
    font-size: 40px;
  }
  .stand-out-sec .sec-head {
    margin-bottom: 30px;
  }
  .stand-out-sec {
    margin: 40px 0;
  }
  .comparisonTable-outer-div td {
    font-size: 13px;
  }
  .official-public-records .sec-head h2 {
    font-size: 40px;
  }
  .try-search-sec .sec-head h2 {
    font-size: 35px;
  }
  .one-report-sec .sec-head h2 {
    font-size: 50px;
    line-height: 1.1;
  }
  .one-report-sec .sec-head {
    margin: 0 auto 30px;
  }
  .main-navbar .navbar-collapse {
    /* background-color: #ebefef; */
    background-image: url(/src/assets/footer-bg.png);
    /* padding: 60px 0; */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px 20px;
  }
  .main-navbar .navbar-nav .nav-link {
    color: #fff;
  }
  .btn-login-signup {
    color: #fff;
    width: fit-content;
    margin-top: 20px;
  }
  .virtual-pi-sec .sec-head h4 {
    font-size: 34px;
    margin-bottom: 26px;
    text-align: center;
  }
  .search-smarter-sec .second-box {
    margin-top: 0;
  }
  .search-smarter-sec .sec-head {
    text-align: center;
    margin-bottom: 30px;
  }
  .search-smarter-box-content {
    gap: 10px;
    padding-bottom: 16px;
    padding-top: 26px;
  }
  .search-smarter-box-img {
    max-width: 120px;
  }
  .search-smarter-box {
    justify-content: space-between;
  }
  .search-smarter-box-content h4 {
    font-size: 20px;
  }
  .search-smarter-box-content p {
    font-size: 16px;
  }
  .virtual_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .v_pi_work_box {
    gap: 16px;
    padding: 16px;
  }
  .v_pi_work_middle_box {
    height: 440px;
  }
  .testimonial-sec .sec-head {
    max-width: 460px;
    margin: 0px auto 30px;
  }
  .testimonial-sec-head-col {
    order: -1;
  }

  .testimonial-col-1 {
    order: 2;
  }
  .testimonial-col-2 {
    order: 1;
  }
  .testimonial-col-3 {
    order: 3;
  }
  .testimonial-col-4 {
    order: 4;
  }

  .testimonial-sec {
    margin: 30px 0;
  }
  .faqs-content {
    text-align: center;
    margin-bottom: 30px;
  }
  .faqs-content h2 {
    font-size: 38px;
  }
  .your-privacy-sec .sec-head {
    margin-bottom: 30px;
  }
  .your-privacy-sec {
    padding: 40px 0 40px 0;
  }
  .investegate-sec .sec-head h4 {
    font-size: 29px;
    text-align: center;
    margin-bottom: 20px;
  }

  .apple-playstore-imgs {
    margin: 0 auto;
  }

  .apple-playstore-img-devider {
    height: 70px;
  }
  .main-footer {
    padding: 45px 0;
  }
  .main-footer-copyright-sec .footer-social {
    margin-bottom: 30px;
  }
  .footer-social h4 {
    margin-bottom: 10px;
  }
  .copyright-content {
    gap: 10px;
  }

  .pricing-plan-sec .sec-head h2 {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .pricing-plan-sec .sec-head {
    max-width: 758px;
    margin: 0 auto 30px;
  }
  .pricing-plan-sec {
    margin: 40px 0;
  }
  .transparent-reviews-box {
    padding: 16px 11px;
    min-height: 210px;
  }
  .transparent-reviews-box h4 {
    font-size: 16px;
  }
  .transparent-reviews-box ul li {
    font-size: 12px;
  }
  .transparent-reviews .sec-head h2 {
    font-size: 40px;
    margin: 0 auto 30px;
    max-width: 540px;
  }
}

@media (max-width: 880px) {
  .make-different-content-box {
    padding: 8px 8px;
    width: 230px;
    align-items: center;
  }
  .make-different-content-box-text h4 {
    font-size: 13px;
    margin-bottom: 3px;
  }
  .make-different-content-box-img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }
  .make-different-content-box-img img {
    width: 20px;
  }
}

@media (max-width: 767px) {
  .reviews-sec {
    margin: 40px 0;
  }
  .legitimate-img-content img {
    display: none;
  }
  .legitimate-img-content-label {
    position: unset;
    transform: unset;
    font-size: 16px;
    padding: 12px 20px;
  }

  .legitimate-img-content {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 0;
  }

  .official-public-records .sec-head {
    margin-bottom: 30px;
  }
  .reviewContentBox-4 {
    right: 0;
    top: 38%;
  }
  .reviewContentBox-3 {
    left: 17%;
    top: 51%;
  }
  .reviewContentBox-2 {
    top: 8%;
    left: 38%;
  }
  .innerBanner-content h1 {
    font-size: 39px;
  }
  .try-search-sec {
    padding: 40px 0;
  }
  .try-search-sec .sec-head h2 {
    font-size: 39px;
  }
  .official-public-records {
    margin: 40px 0;
  }

  .transparent-reviews .sec-head h2 {
    font-size: 32px;
    margin: 0 auto 30px;
    max-width: unset;
  }

  .transparent-reviews {
    padding: 40px 0 0;
  }
  .transparent-reviews-boxes {
    max-width: 340px;
    background-size: 100% 100%;
  }
  .transparent-reviews-box {
    padding: 16px 11px;
    min-height: 224px;
    margin: 0 9px;
  }
  .transparent-reviews-box h4 {
    font-size: 20px;
  }
  .transparent-reviews-box ul li {
    font-size: 15px;
  }
  .virtual-pi-boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .virtual_boxes {
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 16px;
  }
  .v_pi_work_box {
    gap: 16px;
    padding: 25px;
  }
  .v_pi_work_middle_box {
    height: 440px;
    max-width: 330px;
    margin: 0 auto;
  }

  .why-choose-section .sec-head {
    margin-bottom: 16px;
    align-items: baseline;
  }
  .why-choose-section .sec-head h2 {
    font-size: 30px;
  }
  .why-choose-slide-btns .swiper-button-next,
  .why-choose-slide-btns .swiper-button-prev {
    width: 30px;
    height: 30px;
    padding: 4px;
  }
  .why-choose-section .why-choose-slide-btns {
    width: 90px;
  }

  .make-different-content-box {
    position: unset;
    width: 100%;
  }
  .make-different-content-img-div {
    max-width: 330px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }
  .make-different-content-box1 {
    order: 4;
  }
  .make-different-content-box2 {
    order: 3;
  }
  .make-different-content-box3 {
    order: 2;
  }
  .make-different-content-box4 {
    order: 1;
  }

  .make-different-content-sec {
    padding: 40px 0 0;
  }

  .testimonial-col-1,
  .testimonial-col-2,
  .testimonial-col-3,
  .testimonial-col-4 {
    order: unset;
  }

  .main-banner video {
    top: 55%;
    width: 120%;
    height: unset;
  }
  .main-banner {
    padding: 150px 0 90px;
    height: unset;
  }
  .our-mission-sec .sec-head h2 {
    font-size: 36px;
  }
  .our-mission-sec .sec-head .sec-head-p {
    font-size: 16px;
  }
  .our-mission-sec {
    margin: 30px 0;
  }

  .why-choose-services-img {
    max-width: 230px;
    margin: 0 auto;
  }

  .why-choose-services-content-lables {
    justify-content: center;
  }
  .why-choose-services-content h2 {
    font-size: 30px;
    text-align: center;
  }

  .why-choose-services-content {
    margin-bottom: 30px;
  }
  .secured-data-sec .sec-head p {
    font-size: 15px;
  }
  .secured-data-sec .sec-head h2 {
    font-size: 35px;
  }
  .secured-data-sec {
    padding: 30px 0;
  }
  .one-report-sec {
    padding: 30px 0;
  }
  .reviews-sec .sec-head h2 {
    font-size: 40px;
  }
  .reviews-tabs .nav-link {
    padding: 10px 12px;
  }
}

@media (max-width: 575px) {
  .innerBanner-content h1 {
    font-size: 34px;
  }
  .pricing-plan-card {
    max-width: 380px;
    margin: 0 auto;
  }
  .pricing-plan-sec .sec-head h2 {
    font-size: 30px;
  }
  .one-report-card {
    max-width: 380px;
    margin: 0 auto;
  }
  .one-report-sec .sec-head h2 {
    font-size: 45px;
    line-height: 1.1;
  }
}

@media (max-width: 480px) {
  .reviewContentBox-3 {
    left: 0;
    top: 47%;
  }
  .reviewContentBox-1 {
    top: 0;
  }
  .reviewContentBox-2 {
    top: 0;
    left: unset;
    right: 0;
  }
  .reviewContentBox-4 {
    right: 0;
    top: 47%;
  }

  .reviewContentBox-5 {
    bottom: 0;
    left: 36%;
    transform: translate(-50%, 0);
  }
  .reviews-sec .sec-head h2 {
    font-size: 35px;
  }
  .one-report-sec .sec-head h2 {
    font-size: 37px;
    line-height: 1.1;
  }
  .main-banner-content h1 {
    font-size: 35px;
    line-height: 1.1;
  }
  .main-banner-content p {
    font-size: 16px;
    max-width: 598px;
    margin: 0 auto;
  }
  .main-banner video {
    top: 56%;
    width: 140%;
    height: unset;
  }

  .search-smarter-sec .sec-head h3 {
    font-size: 35px;
  }
  .search-smarter-box-content h4 {
    font-size: 18px;
  }
  .search-smarter-box-content p {
    font-size: 15px;
  }
  .v_pi_work_middle_box h3 {
    font-size: 42px;
  }
  .why-choose-section .sec-head h2 {
    font-size: 35px;
  }
  .why-choose-section .why-choose-slide-btns {
    width: 110px;
  }
  .why-choose-section .sec-head {
    margin-bottom: 16px;
    align-items: end;
  }
  .makes-different-sec .sec-head h2 {
    font-size: 31px;
  }
  .makes-different-sec {
    margin: 30px 0 0;
  }
  .why-choose-section {
    margin: 30px 0;
  }
  .your-privacy-sec {
    padding: 30px 0 40px 0;
  }
  .plans-sec {
    margin: 30px 0;
  }
  .investegate-sec .sec-head h4 {
    font-size: 23px;
  }
  .apple-playstore-imgs {
    gap: 16px;
    max-width: 290px;
  }
  .apple-playstore-img-devider {
    height: 40px;
  }
  .ssl-div-images {
    gap: 15px;
    max-width: 220px;
  }
  .our-mission-sec .sec-head h2 {
    font-size: 34px;
  }

  .why-choose-services-content-lables {
    gap: 10px;
  }
  .why-choose-services-content-lable {
    padding: 12px 16px;
    font-size: 14px;
  }
  .contactForm {
    margin: 30px 0;
  }
}

@media (max-width: 430px) {
  .stand-out-sec .sec-head h2 {
    font-size: 35px;
  }
  .transparent-reviews .sec-head h2 {
    font-size: 29px;
  }
  .reviews-sec .sec-head h2 {
    font-size: 30px;
  }
  .why-choose-section .why-choose-slide-btns {
    width: 130px;
  }
  .search-smarter-sec {
    padding: 30px 0;
  }
  .our-mission-sec .sec-head h2 {
    font-size: 28px;
  }
  .our-mission-sec .sec-head .sec-head-p {
    font-size: 15px;
  }
  .why-choose-services-content h2 {
    font-size: 24px;
    text-align: center;
  }

  .contactFormContent h2 {
    font-size: 38px;
  }
  .contactForm-form {
    padding: 30px 15px;
  }
  .contactForm-form-input-fields .form-control,
  .contactForm-form-input-fields .form-select {
    border-radius: 10px;
  }
  .secured-data-sec .sec-head h2 {
    font-size: 27px;
  }

  .pricing-plan-sec .sec-head h2 {
    font-size: 26px;
  }
}

@media (max-width: 390px) {
  .innerBanner-content h1 {
    font-size: 31px;
  }
  .stand-out-sec .sec-head h2 {
    font-size: 31px;
  }
  .transparent-reviews .sec-head h2 {
    font-size: 24px;
  }
  .transparent-reviews-box h4 {
    font-size: 16px;
  }
  .transparent-reviews-box ul li {
    font-size: 14px;
  }
  .one-report-sec .sec-head h2 {
    font-size: 30px;
  }
  .main-banner-content h1 {
    font-size: 30px;
    line-height: 1.1;
  }

  .main-banner-content p {
    font-size: 15px;
  }
  .virtual-pi-sec .sec-head h4 {
    font-size: 30px;
  }
  .why-choose-section .sec-head h2 {
    font-size: 30px;
  }

  .faqs-content h2 {
    font-size: 30px;
  }
  .faqs-content p {
    font-size: 13px;
  }
  .faqs-items .accordion-body {
    font-size: 13px;
  }
  .plans-sec .sec-head h2 {
    font-size: 34px;
  }
  .your-privacy-sec .sec-head h2 {
    font-size: 29px;
  }
  .privacy-box {
    padding: 16px 10px;
  }
  .privacy-box h4 {
    font-size: 16px;
  }
  .privacy-box-img {
    width: 45px;
    height: 45px;
    font-size: 28px;
  }
  .investegate-sec .sec-head h4 {
    font-size: 28px;
    line-height: 1.1;
  }
}
